h1{
  font-family: Times New Roam;
}
body {
  height: 100vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */
  background-image: linear-gradient(to bottom right, grey, purple);
}
